body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:114px;
}
#u354 {
  position:absolute;
  left:927px;
  top:411px;
  width:200px;
  height:114px;
}
#u355 {
  position:absolute;
  left:2px;
  top:49px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1333px;
}
#u356 {
  position:absolute;
  left:1200px;
  top:50px;
  width:750px;
  height:1333px;
}
#u357 {
  position:absolute;
  left:2px;
  top:658px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1182px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u358 {
  position:absolute;
  left:1200px;
  top:201px;
  width:750px;
  height:1182px;
  opacity:0.5;
}
#u359 {
  position:absolute;
  left:2px;
  top:583px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u360 {
  position:absolute;
  left:1293px;
  top:505px;
  width:560px;
  height:269px;
}
#u361 {
  position:absolute;
  left:2px;
  top:126px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u362 {
  position:absolute;
  left:1293px;
  top:673px;
  width:560px;
  height:1px;
}
#u363 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u364 {
  position:absolute;
  left:1573px;
  top:674px;
  width:1px;
  height:100px;
}
#u365 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u366 {
  position:absolute;
  left:1394px;
  top:703px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#0070BE;
}
#u368 {
  position:absolute;
  left:1684px;
  top:703px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#0070BE;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u370 {
  position:absolute;
  left:1378px;
  top:607px;
  width:391px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u372 {
  position:absolute;
  left:1757px;
  top:724px;
  width:0px;
  height:0px;
}
#u372_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:263px;
  height:8px;
}
#u372_seg1 {
  position:absolute;
  left:255px;
  top:-2px;
  width:8px;
  height:6px;
}
#u372_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u373 {
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u374 {
  position:absolute;
  left:2029px;
  top:708px;
  width:174px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u376 {
  position:absolute;
  left:1431px;
  top:745px;
  width:0px;
  height:0px;
}
#u376_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u376_seg1 {
  position:absolute;
  left:-4px;
  top:79px;
  width:77px;
  height:8px;
}
#u376_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u377 {
  position:absolute;
  left:-50px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u378 {
  position:absolute;
  left:1515px;
  top:812px;
  width:168px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u380 {
  position:absolute;
  left:1573px;
  top:505px;
  width:0px;
  height:0px;
}
#u380_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u380_seg1 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:9px;
  height:8px;
}
#u380_seg2 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:8px;
  height:33px;
}
#u380_seg3 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u380_seg4 {
  position:absolute;
  left:-11px;
  top:15px;
  width:20px;
  height:21px;
}
#u381 {
  position:absolute;
  left:-51px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u382 {
  position:absolute;
  left:1592px;
  top:505px;
  width:56px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u384 {
  position:absolute;
  left:1465px;
  top:535px;
  width:217px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u386 {
  position:absolute;
  left:1682px;
  top:556px;
  width:0px;
  height:0px;
}
#u386_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:336px;
  height:8px;
}
#u386_seg1 {
  position:absolute;
  left:328px;
  top:-4px;
  width:8px;
  height:8px;
}
#u386_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u387 {
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u388 {
  position:absolute;
  left:2023px;
  top:536px;
  width:168px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u390 {
  position:absolute;
  left:1769px;
  top:625px;
  width:0px;
  height:0px;
}
#u390_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:243px;
  height:8px;
}
#u390_seg1 {
  position:absolute;
  left:235px;
  top:-4px;
  width:8px;
  height:5px;
}
#u390_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u391 {
  position:absolute;
  left:70px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u392 {
  position:absolute;
  left:2023px;
  top:611px;
  width:168px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1250px;
}
#u394 {
  position:absolute;
  left:100px;
  top:50px;
  width:750px;
  height:1250px;
}
#u395 {
  position:absolute;
  left:2px;
  top:617px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
